[href="#content"] {
	position: absolute;
	top: 20px;
	right: 100%;
}

[href="#content"]:focus {
	right: auto;
	left: 20px;
}

@media print {
	body > *:not(main) {
		display: none;
	}
}

body { font-family: "proxima_nova_rgregular", sans-serif }
h1 { font-family: "proxima_novasemibold", sans-serif }
.h1, strong, b { font-family: "proxima_nova_rgbold", sans-serif }
.navbar-light .navbar-toggler { border: 0; }

@media (max-width: 600px) {
	.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { zoom: 0.75; }
	h2.h4 { zoom: 0.74; }
	.btn-hero { padding: 0.75rem 1.25rem !important }
	h3.h1 { zoom: 0.8; }
}

@media (min-width: 992px) {
	.navbar-toggleable-md .navbar-nav .nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.navbar-toggleable-md .navbar-nav .nav-link.lang {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
	.navbar-toggleable-md .navbar-nav .nav-link.lang-1 {
		margin-left: 1rem;
	}
}

.btn-hero:hover { box-shadow: 0 3px 6px rgba(0, 0, 0, .25); transform: scale(1.05); }
.btn-hero { padding: 1rem 2rem; font-size: 110%; color: #fff !important }

.grey { background: whitesmoke }
p:last-child { margin-bottom: 0 }
button, input, select, textarea { font-family: inherit }

.form-primary div { position: relative }
.form-primary input, .form-primary select {
	width: 90%;
	max-width: 400px;
	padding: 0 1rem;
	height: 3rem;
	background: #fff;
	border-radius: 0.25rem;
	border: 1px solid #ddd;
}
.form-primary label {
	display: block;
	max-width: 400px;
	margin: 10px auto 5px auto;
	text-align: left;
	font-family: "proxima_novasemibold", sans-serif;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 10.4px 0;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 5.2px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: rgba(141, 113, 169, 0.78);
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 2.6px 2.6px 6.2px #000031, 0px 0px 2.6px #00004b;
	border: 0.9px solid #68001e;
	height: 26px;
	width: 26px;
	border-radius: 32px;
	background: #b568ff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -10.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: rgba(172, 151, 192, 0.78);
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 5.2px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: rgba(141, 113, 169, 0.78);
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 2.6px 2.6px 6.2px #000031, 0px 0px 2.6px #00004b;
	border: 0.9px solid #68001e;
	height: 26px;
	width: 26px;
	border-radius: 32px;
	background: #b568ff;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 5.2px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: rgba(110, 83, 138, 0.78);
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
	background: rgba(141, 113, 169, 0.78);
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
	box-shadow: 2.6px 2.6px 6.2px #000031, 0px 0px 2.6px #00004b;
	border: 0.9px solid #68001e;
	height: 26px;
	width: 26px;
	border-radius: 32px;
	background: #b568ff;
	cursor: pointer;
	height: 5.2px;
}
input[type=range]:focus::-ms-fill-lower {
	background: rgba(141, 113, 169, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
	background: rgba(172, 151, 192, 0.78);
}

img { max-width: 100% }
.ion-ios-arrow-forward { transform: translateY(1px); }

html.magnifying > body {
	overflow-x: hidden !important;
}
.magnify,
.magnify > .magnify-lens,
.magnify-mobile,
.lens-mobile { /* Reset */
	min-width: 0;
	min-height: 0;
	animation: none;
	border: none;
	float: none;
	margin: 0;
	opacity: 1;
	outline: none;
	overflow: visible;
	padding: 0;
	text-indent: 0;
	transform: none;
	transition: none;
}
.magnify {
	position: relative;
	width: auto;
	height: auto;
	box-shadow: none;
	display: inline-block;
	z-index: inherit;
}
.magnify > .magnify-lens { /* Magnifying lens */
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 100%;
	/* Multiple box shadows to achieve the glass lens effect */
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85),
		0 0 7px 7px rgba(0, 0, 0, 0.25),
		inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	cursor: none;
	display: none;
	z-index: 99;
}
.magnify > .magnify-lens.loading {
	background: #333 !important;
	opacity: 0.8;
}
.magnify > .magnify-lens.loading:after { /* Loading text */
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #fff;
	content: 'Loading...';
	font: italic normal 16px/1 Calibri, sans-serif;
	letter-spacing: 1px;
	margin-top: -8px;
	text-align: center;
	text-shadow: 0 0 2px rgba(51, 51, 51, 0.8);
	text-transform: none;
}

.a11y-icon {
	display: inline-block;
	background: #0275d8;
	color: #fff;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 32px;
}

[tabindex="1"] { cursor: pointer }

#colophon { background: rgba(2, 117, 216, 0.2) }
.press-image { filter: grayscale(1) }